<div class="justify bg-white" style="padding:20px; text-align: center;"><h1>Hurry Up! Shop Noww</h1>
    <img style="text-align: right;" src='https://media.istockphoto.com/photos/interior-of-clothing-store-picture-id1023612090?k=6&m=1023612090&s=612x612&w=0&h=YNzgbQvGSqMQ5FUdeiz4o4ab7gYkl4kkopKi4tRGqZ0=' height='200px' weight='300px'>
    <img style="text-align: left;"src='https://static8.depositphotos.com/1011643/1046/i/600/depositphotos_10469952-stock-photo-womens-clothing-store.jpg' height='200px' weight='300px'>
    <img style="text-align: center;"src='https://static6.depositphotos.com/1005868/543/i/950/depositphotos_5438996-stock-photo-clothing-store.jpg' height='200px' weight='300px'>
    </div>